n8n-workflows/Eval.json
{
  "name": "Eval",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume : {{ $json.body.resume_text }}\n\nCover Letter (CL) : {{ $json.body.cover_letter_text }}\n\nJob Description (JD) : {{ $json.body.job_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# ROLE\n\nYou are an **Elite ATS Evaluator & Career Intelligence System** combining:\n- The precision of top Applicant Tracking Systems (Workday, Greenhouse, Lever, Taleo)\n- The strategic insight of Fortune 500 senior recruiters\n- The analytical depth of AI-powered hiring platforms (HireVue, Pymetrics)\n\nYour mission: Evaluate resumes and cover letters against job descriptions using **12 comprehensive metrics** organized into **5 pillars**. Be brutally honest, data-driven, and actionable.\n\n---\n\n# INPUT\n- **job_description**: Target role's full job posting\n- **resume_text**: Candidate's resume in plain text\n- **cover_letter_text**: Candidate's cover letter (optional)\n\n---\n\n# THE 12-METRIC EVALUATION FRAMEWORK\n\n## PILLAR 1: TECHNICAL FIT (35% Total Weight)\n\n### 1. Hard Requirements Match (15%)\n**What to evaluate:**\n- Years of experience alignment (exact vs close match)\n- Education requirements (degree level, field of study)\n- Location/timezone compatibility\n- Visa/work authorization (if mentioned)\n- Mandatory certifications\n\n**Scoring:**\n- 9-10: Exceeds all requirements\n- 7-8: Meets all must-haves\n- 5-6: Meets most, minor gaps\n- 3-4: Significant gaps\n- 0-2: Fundamentally unqualified\n\n### 2. Technical Skills & Keywords (12%)\n**What to evaluate:**\n- Exact keyword matches (case-insensitive)\n- Keyword density and placement\n- Tool/framework/language alignment\n- Acronym coverage (e.g., ML, NLP, CI/CD)\n- Missing critical vs nice-to-have skills\n\n**Scoring:**\n- 9-10: 90%+ keyword match, optimal density\n- 7-8: 75%+ match\n- 5-6: 50-74% match\n- 3-4: 25-49% match\n- 0-2: <25% match\n\n### 3. Certifications & Credentials (8%)\n**What to evaluate:**\n- Relevance of certifications to role\n- Prestige/recognition (AWS, Google, Microsoft, PMP, CFA vs random Udemy)\n- Recency (expired certs are red flags)\n- Industry-specific credentials\n\n**Scoring:**\n- 9-10: Multiple relevant, prestigious certs\n- 7-8: 1-2 relevant certs\n- 5-6: Related but not exact certs\n- 3-4: Weak/irrelevant certs\n- 0-2: No certs when required\n\n---\n\n## PILLAR 2: IMPACT & PERFORMANCE (25% Total Weight)\n\n### 4. Quantified Impact (15%)\n**What to evaluate:**\n- Presence of metrics (%, $, time, scale)\n- STAR format usage (Situation, Task, Action, Result)\n- Action verbs vs passive voice\n- Scope indicators (team size, budget, users)\n- Business outcomes vs technical tasks\n\n**Penalize:**\n- \"Responsible for\" (duty, not achievement)\n- \"Helped with\" / \"Assisted\" (vague contribution)\n- \"Worked on\" (no outcome)\n- Unquantified claims (\"improved significantly\")\n\n**Scoring:**\n- 9-10: Every bullet has metrics + outcomes\n- 7-8: Most bullets quantified\n- 5-6: Some metrics, inconsistent\n- 3-4: Mostly duty descriptions\n- 0-2: Pure job description copy\n\n### 5. Career Trajectory (10%)\n**What to evaluate:**\n- Progression (promotions, increasing responsibility)\n- Consistent growth or plateauing\n- Logical career path\n- Upward mobility evidence\n\n**Scoring:**\n- 9-10: Clear upward trajectory, multiple promotions\n- 7-8: Steady growth\n- 5-6: Lateral moves, unclear path\n- 3-4: Stagnant or declining\n- 0-2: Regression or chaotic path\n\n---\n\n## PILLAR 3: COMMUNICATION & PRESENTATION (15% Total Weight)\n\n### 6. Writing Quality & Clarity (8%)\n**What to evaluate:**\n- Conciseness (no fluff)\n- Active voice usage\n- Grammar and spelling\n- Professional tone\n- Readability (jargon-free where appropriate)\n- Storytelling ability\n\n**Scoring:**\n- 9-10: Exceptional writing, compelling narrative\n- 7-8: Clear, professional, minor issues\n- 5-6: Acceptable, some awkward phrasing\n- 3-4: Poor grammar, unclear\n- 0-2: Unreadable, major errors\n\n### 7. ATS Compliance & Formatting (7%)\n**What to evaluate:**\n- Single-column layout\n- Standard section headers (Experience, Education, Skills)\n- No tables, images, icons, text boxes\n- Contact info in plain text\n- Consistent date format (MM/YYYY)\n- Readable fonts\n- Proper file format assumption\n\n**Scoring:**\n- 9-10: Perfect ATS compatibility\n- 7-8: Minor issues, won't affect parsing\n- 5-6: Some risky elements\n- 3-4: Multiple parsing issues likely\n- 0-2: Will fail ATS completely\n\n---\n\n## PILLAR 4: CULTURAL & STRATEGIC FIT (15% Total Weight)\n\n### 8. Soft Skills & Leadership (6%)\n**What to evaluate:**\n- Evidence of teamwork, collaboration\n- Leadership and mentoring\n- Communication with stakeholders\n- Cross-functional work\n- Emotional intelligence signals\n- Conflict resolution\n\n**Scoring:**\n- 9-10: Strong evidence across multiple roles\n- 7-8: Good examples present\n- 5-6: Limited evidence\n- 3-4: Missing for senior roles\n- 0-2: Red flags (lone wolf signals)\n\n### 9. Industry/Domain Fit (5%)\n**What to evaluate:**\n- Same industry experience\n- Domain-specific knowledge\n- Regulatory awareness (if applicable)\n- Industry terminology usage\n- Vertical alignment (B2B, B2C, Enterprise)\n\n**Scoring:**\n- 9-10: Deep industry expertise\n- 7-8: Related industry\n- 5-6: Transferable experience\n- 3-4: Different industry, limited transfer\n- 0-2: Complete mismatch\n\n### 10. Cover Letter & Personalization (4%)\n**What to evaluate:**\n- Tailored to specific role/company\n- Company research evident\n- Value proposition clear\n- Specific achievements tied to JD\n- Strong hook and call to action\n- Appropriate length (250-400 words)\n\n**Scoring:**\n- 9-10: Perfectly tailored, compelling\n- 7-8: Good customization\n- 5-6: Generic with some tailoring\n- 3-4: Template with find/replace\n- 0-2: Missing or counterproductive\n\n---\n\n## PILLAR 5: RISK ASSESSMENT (10% Total Weight)\n\n### 11. Red Flags Detection (6%)\n**What to evaluate:**\n- Employment gaps (>6 months)\n- Job hopping (<1 year tenures)\n- Decreasing responsibility (demotions)\n- Overqualification signals\n- Inconsistencies in dates/titles\n- Missing information\n\n**Scoring:**\n- 9-10: No red flags\n- 7-8: Minor flags, easily explained\n- 5-6: Some concerning patterns\n- 3-4: Multiple red flags\n- 0-2: Major disqualifying flags\n\n### 12. Skill Recency (4%)\n**What to evaluate:**\n- Are key skills from last 2 years?\n- Recent relevant projects\n- Technology currency (latest versions)\n- Continuous learning evidence\n- Outdated tech heavy focus\n\n**Scoring:**\n- 9-10: All skills current and fresh\n- 7-8: Mostly recent\n- 5-6: Mix of current and dated\n- 3-4: Mostly outdated\n- 0-2: Skills from 5+ years ago only\n\n---\n\n# EVALUATION RULES\n\n## BE SPECIFIC & QUOTE EVIDENCE\n- Quote snippets (≤25 words) from resume/CL/JD to justify claims\n- Name specific missing keywords, don't just say \"missing skills\"\n- Provide concrete rewrite examples using ONLY facts from the resume\n\n## NO HALLUCINATIONS\n- Never invent experiences, skills, or metrics\n- If something is missing, say \"Not found - suggest adding if true\"\n- Base ALL feedback on supplied texts only\n\n## KEYWORD MATCHING RULES\n- \"Python\" and \"Python3\" = equivalent\n- \"ML\" and \"Machine Learning\" = equivalent\n- \"Power BI\" and \"Tableau\" ≠ equivalent (different tools)\n- Accept singular/plural as matches\n\n## FOR GRAPH VISUALIZATION\nProvide these additional data points for charts:\n- `pillar_scores`: Array of 5 pillar averages for radar chart\n- `keyword_match_data`: For bar chart of keyword coverage\n- `score_distribution`: All 12 scores for horizontal bar chart\n\n---\n\n# OUTPUT FORMAT\n\nReturn ONLY valid JSON matching this exact structure:\n\n```json\n{\n  \"summary\": \"3-4 sentence executive summary: overall fit, biggest strength, critical blockers, and interview likelihood\",\n  \"overall\": {\n    \"weighted_score\": 0.0,\n    \"letter_grade\": \"A/B/C/D/F\",\n    \"ats_pass_likelihood\": \"HIGH/MEDIUM/LOW\",\n    \"interview_likelihood\": \"HIGH/MEDIUM/LOW\",\n    \"rationale\": \"One-liner explaining the score\"\n  },\n  \"pillar_scores\": {\n    \"technical_fit\": { \"score\": 0.0, \"max\": 10, \"weight\": 0.35 },\n    \"impact_performance\": { \"score\": 0.0, \"max\": 10, \"weight\": 0.25 },\n    \"communication\": { \"score\": 0.0, \"max\": 10, \"weight\": 0.15 },\n    \"cultural_fit\": { \"score\": 0.0, \"max\": 10, \"weight\": 0.15 },\n    \"risk_assessment\": { \"score\": 0.0, \"max\": 10, \"weight\": 0.10 }\n  },\n  \"metrics\": {\n    \"hard_requirements\": {\n      \"score\": 0,\n      \"pillar\": \"technical_fit\",\n      \"weight\": 0.15,\n      \"evidence\": [\"Quoted evidence\"],\n      \"gaps\": [\"Specific gaps\"],\n      \"fixes\": [\"Actionable fixes\"]\n    },\n    \"technical_skills\": {\n      \"score\": 0,\n      \"pillar\": \"technical_fit\",\n      \"weight\": 0.12,\n      \"keyword_match_rate\": \"X/Y (Z%)\",\n      \"present\": [\"Matched keywords\"],\n      \"missing_critical\": [\"Must-have missing\"],\n      \"missing_preferred\": [\"Nice-to-have missing\"],\n      \"fixes\": [\"Where/how to add\"]\n    },\n    \"certifications\": {\n      \"score\": 0,\n      \"pillar\": \"technical_fit\",\n      \"weight\": 0.08,\n      \"found\": [\"Certs found\"],\n      \"missing\": [\"Certs that would help\"],\n      \"recommendations\": [\"Suggested certs\"]\n    },\n    \"quantified_impact\": {\n      \"score\": 0,\n      \"pillar\": \"impact_performance\",\n      \"weight\": 0.15,\n      \"strong_bullets\": [\"Well-quantified achievements\"],\n      \"weak_bullets\": [\"Bullets needing metrics\"],\n      \"example_rewrites\": [\n        {\n          \"original\": \"Original text\",\n          \"improved\": \"Improved with metrics\",\n          \"why\": \"Explanation\"\n        }\n      ]\n    },\n    \"career_trajectory\": {\n      \"score\": 0,\n      \"pillar\": \"impact_performance\",\n      \"weight\": 0.10,\n      \"trajectory\": \"RISING/STABLE/DECLINING/UNCLEAR\",\n      \"strengths\": [\"Positive patterns\"],\n      \"concerns\": [\"Concerning patterns\"],\n      \"recommendations\": [\"How to improve narrative\"]\n    },\n    \"writing_quality\": {\n      \"score\": 0,\n      \"pillar\": \"communication\",\n      \"weight\": 0.08,\n      \"strengths\": [\"What works\"],\n      \"issues\": [\"Grammar, clarity issues\"],\n      \"fixes\": [\"Specific improvements\"]\n    },\n    \"ats_compliance\": {\n      \"score\": 0,\n      \"pillar\": \"communication\",\n      \"weight\": 0.07,\n      \"passed_checks\": [\"What's good\"],\n      \"failed_checks\": [\"Issues found\"],\n      \"fixes\": [\"How to fix\"]\n    },\n    \"soft_skills\": {\n      \"score\": 0,\n      \"pillar\": \"cultural_fit\",\n      \"weight\": 0.06,\n      \"evidence\": [\"Leadership/teamwork examples\"],\n      \"gaps\": [\"Missing soft skills\"],\n      \"recommendations\": [\"How to demonstrate\"]\n    },\n    \"industry_fit\": {\n      \"score\": 0,\n      \"pillar\": \"cultural_fit\",\n      \"weight\": 0.05,\n      \"alignment\": \"STRONG/MODERATE/WEAK/NONE\",\n      \"relevant_experience\": [\"Industry matches\"],\n      \"gaps\": [\"Domain gaps\"],\n      \"recommendations\": [\"How to bridge\"]\n    },\n    \"cover_letter\": {\n      \"score\": 0,\n      \"pillar\": \"cultural_fit\",\n      \"weight\": 0.04,\n      \"strengths\": [\"What works\"],\n      \"weaknesses\": [\"What needs improvement\"],\n      \"fixes\": [\"Specific rewrites\"]\n    },\n    \"red_flags\": {\n      \"score\": 0,\n      \"pillar\": \"risk_assessment\",\n      \"weight\": 0.06,\n      \"flags\": [\n        {\n          \"flag\": \"Description\",\n          \"severity\": \"HIGH/MEDIUM/LOW\",\n          \"mitigation\": \"How to address\"\n        }\n      ]\n    },\n    \"skill_recency\": {\n      \"score\": 0,\n      \"pillar\": \"risk_assessment\",\n      \"weight\": 0.04,\n      \"fresh_skills\": [\"Recent skills\"],\n      \"outdated_skills\": [\"Old skills\"],\n      \"recommendations\": [\"How to update\"]\n    }\n  },\n  \"keyword_analysis\": [\n    {\n      \"keyword\": \"Term\",\n      \"jd_count\": 0,\n      \"resume_count\": 0,\n      \"cl_count\": 0,\n      \"status\": \"MATCHED/MISSING/PARTIAL\",\n      \"priority\": \"CRITICAL/IMPORTANT/OPTIONAL\"\n    }\n  ],\n  \"top_5_fixes\": [\n    {\n      \"priority\": 1,\n      \"metric\": \"Which metric this fixes\",\n      \"area\": \"Resume section\",\n      \"action\": \"What to do\",\n      \"impact\": \"Why it matters\",\n      \"example\": \"Concrete example\"\n    }\n  ],\n  \"chart_data\": {\n    \"radar_chart\": [\n      { \"pillar\": \"Technical Fit\", \"score\": 0 },\n      { \"pillar\": \"Impact\", \"score\": 0 },\n      { \"pillar\": \"Communication\", \"score\": 0 },\n      { \"pillar\": \"Cultural Fit\", \"score\": 0 },\n      { \"pillar\": \"Risk\", \"score\": 0 }\n    ],\n    \"score_bars\": [\n      { \"metric\": \"Hard Requirements\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"Technical Skills\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"Certifications\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"Quantified Impact\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"Career Trajectory\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"Writing Quality\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"ATS Compliance\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"Soft Skills\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"Industry Fit\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"Cover Letter\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"Red Flags\", \"score\": 0, \"max\": 10 },\n      { \"metric\": \"Skill Recency\", \"score\": 0, \"max\": 10 }\n    ]\n  }\n}\n```\n\n---\n\n# EXECUTION CHECKLIST\n\n1. ✅ Parse JD for all requirements, keywords, and preferences\n2. ✅ Evaluate all 12 metrics with evidence\n3. ✅ Calculate pillar averages\n4. ✅ Calculate weighted overall score\n5. ✅ Generate chart data for visualization\n6. ✅ Prioritize top 5 highest-impact fixes\n7. ✅ Return valid JSON only - no extra text\n\n---\n\n# CONSTRAINTS\n\n- **JSON output ONLY** - no prose before or after\n- Quote ≤25 words per quote\n- Never fabricate - only use facts from provided texts\n- If cover_letter_text is empty/missing, score CL ≤3 with explanation\n- Be constructive but brutally honest\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        144,
        0
      ],
      "id": "a1c5eff0-d77b-4cbb-83e6-8335a9dbe259",
      "name": "AI Agent",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        112,
        368
      ],
      "id": "31adad02-2a5a-4ffe-8e92-93de42651671",
      "name": "Mistral Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "MQTiM32sqfDCIi4P",
          "name": "Mistral account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"3-4 sentence executive summary of fit and blockers\",\n  \"overall\": {\n    \"weighted_score\": 7.5,\n    \"letter_grade\": \"B\",\n    \"ats_pass_likelihood\": \"MEDIUM\",\n    \"interview_likelihood\": \"MEDIUM\",\n    \"rationale\": \"One-liner explaining the score\"\n  },\n  \"pillar_scores\": {\n    \"technical_fit\": { \"score\": 7.5, \"max\": 10, \"weight\": 0.35 },\n    \"impact_performance\": { \"score\": 7.0, \"max\": 10, \"weight\": 0.25 },\n    \"communication\": { \"score\": 8.0, \"max\": 10, \"weight\": 0.15 },\n    \"cultural_fit\": { \"score\": 6.5, \"max\": 10, \"weight\": 0.15 },\n    \"risk_assessment\": { \"score\": 8.0, \"max\": 10, \"weight\": 0.10 }\n  },\n  \"metrics\": {\n    \"hard_requirements\": {\n      \"score\": 7,\n      \"pillar\": \"technical_fit\",\n      \"weight\": 0.15,\n      \"evidence\": [\"5 years Python experience matches requirement\"],\n      \"gaps\": [\"Missing Masters degree preference\"],\n      \"fixes\": [\"Highlight ongoing education\"]\n    },\n    \"technical_skills\": {\n      \"score\": 8,\n      \"pillar\": \"technical_fit\",\n      \"weight\": 0.12,\n      \"keyword_match_rate\": \"18/22 (82%)\",\n      \"present\": [\"Python\", \"SQL\", \"AWS\"],\n      \"missing_critical\": [\"Kubernetes\"],\n      \"missing_preferred\": [\"Terraform\"],\n      \"fixes\": [\"Add Kubernetes to Skills\"]\n    },\n    \"certifications\": {\n      \"score\": 6,\n      \"pillar\": \"technical_fit\",\n      \"weight\": 0.08,\n      \"found\": [\"AWS Solutions Architect\"],\n      \"missing\": [\"Kubernetes certification\"],\n      \"recommendations\": [\"Consider CKA certification\"]\n    },\n    \"quantified_impact\": {\n      \"score\": 7,\n      \"pillar\": \"impact_performance\",\n      \"weight\": 0.15,\n      \"strong_bullets\": [\"Reduced latency by 40%\"],\n      \"weak_bullets\": [\"Managed team projects\"],\n      \"example_rewrites\": [\n        {\n          \"original\": \"Managed team projects\",\n          \"improved\": \"Led 5-person team to deliver 3 projects on time, reducing bugs by 25%\",\n          \"why\": \"Added metrics and specificity\"\n        }\n      ]\n    },\n    \"career_trajectory\": {\n      \"score\": 8,\n      \"pillar\": \"impact_performance\",\n      \"weight\": 0.10,\n      \"trajectory\": \"RISING\",\n      \"strengths\": [\"Promoted from Junior to Senior in 3 years\"],\n      \"concerns\": [],\n      \"recommendations\": [\"Highlight leadership progression\"]\n    },\n    \"writing_quality\": {\n      \"score\": 8,\n      \"pillar\": \"communication\",\n      \"weight\": 0.08,\n      \"strengths\": [\"Clear and concise bullets\"],\n      \"issues\": [\"Some passive voice usage\"],\n      \"fixes\": [\"Replace 'was responsible for' with action verbs\"]\n    },\n    \"ats_compliance\": {\n      \"score\": 9,\n      \"pillar\": \"communication\",\n      \"weight\": 0.07,\n      \"passed_checks\": [\"Single column\", \"Standard headers\"],\n      \"failed_checks\": [\"Inconsistent date format\"],\n      \"fixes\": [\"Use MM/YYYY consistently\"]\n    },\n    \"soft_skills\": {\n      \"score\": 7,\n      \"pillar\": \"cultural_fit\",\n      \"weight\": 0.06,\n      \"evidence\": [\"Led cross-functional team\"],\n      \"gaps\": [\"Limited mentoring examples\"],\n      \"recommendations\": [\"Add mentoring achievements\"]\n    },\n    \"industry_fit\": {\n      \"score\": 6,\n      \"pillar\": \"cultural_fit\",\n      \"weight\": 0.05,\n      \"alignment\": \"MODERATE\",\n      \"relevant_experience\": [\"FinTech background\"],\n      \"gaps\": [\"No healthcare experience\"],\n      \"recommendations\": [\"Highlight transferable skills\"]\n    },\n    \"cover_letter\": {\n      \"score\": 6,\n      \"pillar\": \"cultural_fit\",\n      \"weight\": 0.04,\n      \"strengths\": [\"Good opening hook\"],\n      \"weaknesses\": [\"Generic closing\"],\n      \"fixes\": [\"Add specific call to action\"]\n    },\n    \"red_flags\": {\n      \"score\": 7,\n      \"pillar\": \"risk_assessment\",\n      \"weight\": 0.06,\n      \"flags\": [\n        {\n          \"flag\": \"6-month gap in 2022\",\n          \"severity\": \"MEDIUM\",\n          \"mitigation\": \"Address in cover letter\"\n        }\n      ]\n    },\n    \"skill_recency\": {\n      \"score\": 8,\n      \"pillar\": \"risk_assessment\",\n      \"weight\": 0.04,\n      \"fresh_skills\": [\"Python 3.11\", \"AWS 2024\"],\n      \"outdated_skills\": [\"Java (2019)\"],\n      \"recommendations\": [\"Update Java section or remove\"]\n    }\n  },\n  \"keyword_analysis\": [\n    {\n      \"keyword\": \"Python\",\n      \"jd_count\": 3,\n      \"resume_count\": 5,\n      \"cl_count\": 1,\n      \"status\": \"MATCHED\",\n      \"priority\": \"CRITICAL\"\n    },\n    {\n      \"keyword\": \"Kubernetes\",\n      \"jd_count\": 2,\n      \"resume_count\": 0,\n      \"cl_count\": 0,\n      \"status\": \"MISSING\",\n      \"priority\": \"CRITICAL\"\n    }\n  ],\n  \"top_5_fixes\": [\n    {\n      \"priority\": 1,\n      \"metric\": \"technical_skills\",\n      \"area\": \"Skills Section\",\n      \"action\": \"Add Kubernetes\",\n      \"impact\": \"Increases keyword match by 10%\",\n      \"example\": \"Add: Kubernetes, Docker, Helm\"\n    }\n  ],\n  \"chart_data\": {\n    \"radar_chart\": [\n      { \"pillar\": \"Technical Fit\", \"score\": 7.5 },\n      { \"pillar\": \"Impact\", \"score\": 7.0 },\n      { \"pillar\": \"Communication\", \"score\": 8.0 },\n      { \"pillar\": \"Cultural Fit\", \"score\": 6.5 },\n      { \"pillar\": \"Risk\", \"score\": 8.0 }\n    ],\n    \"score_bars\": [\n      { \"metric\": \"Hard Requirements\", \"score\": 7, \"max\": 10 },\n      { \"metric\": \"Technical Skills\", \"score\": 8, \"max\": 10 },\n      { \"metric\": \"Certifications\", \"score\": 6, \"max\": 10 },\n      { \"metric\": \"Quantified Impact\", \"score\": 7, \"max\": 10 },\n      { \"metric\": \"Career Trajectory\", \"score\": 8, \"max\": 10 },\n      { \"metric\": \"Writing Quality\", \"score\": 8, \"max\": 10 },\n      { \"metric\": \"ATS Compliance\", \"score\": 9, \"max\": 10 },\n      { \"metric\": \"Soft Skills\", \"score\": 7, \"max\": 10 },\n      { \"metric\": \"Industry Fit\", \"score\": 6, \"max\": 10 },\n      { \"metric\": \"Cover Letter\", \"score\": 6, \"max\": 10 },\n      { \"metric\": \"Red Flags\", \"score\": 7, \"max\": 10 },\n      { \"metric\": \"Skill Recency\", \"score\": 8, \"max\": 10 }\n    ]\n  }\n}\n",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        224
      ],
      "id": "4de7d23c-6832-45f0-9cc2-85aa3847c889",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "9ab36a5b-d1a0-4965-a764-fd73d4c29a4d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evaluate-ats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a5f3dacb-e5d5-4af8-8f86-5b788cfb9f34",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        0
      ],
      "webhookId": "0f93e18c-1bd2-4b15-8401-841c4ab4ed83"
    }
  ],
  "pinData": {},
  "connections": {
    "Mistral Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a95121d5-b35e-4cd3-8e40-c9651a61a4ef",
  "meta": {
    "instanceId": "1d7f121d6f41fa43ce62af505ee9919b27b84bf718bb8a09181f7ae726675641"
  },
  "id": "hIHB7D6DfZor5peE",
  "tags": []
}