n8n-workflows/Eval.json
{
  "name": "Eval",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume : {{ $json.body.resume_text }}\n\nCover Letter (CL) : {{ $json.body.cover_letter_text }}\n\nJob Description (JD) : {{ $json.body.job_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE\nYou are a strict ATS-style evaluator. Given a job description (JD) plus a candidate’s resume and cover letter (CL), your job is to grade fit on five metrics, be brutally candid, and provide concrete, actionable fixes. Do not invent experiences or facts—base everything on the supplied texts only.\n\nINPUT\n- job_description: plain text\n- resume_text: plain text\n- cover_letter_text: plain text (optional)\n\nGENERAL RULES\n- Be nitpicky and specific. Quote short snippets (≤25 words) from the resume/CL/JD to justify claims.\n- No hallucinations. If a requirement/skill isn’t present in the resume/CL, mark it “Not found” and suggest how to add it truthfully (e.g., quantify an existing bullet, clarify scope, name a tool already implied).\n- Normalize keywords (singular/plural/stems; e.g., “modeling” ~ “models”), and accept close synonyms only when obvious (e.g., “Power BI” vs “BI dashboards” is NOT equivalent—call the gap out).\n- Penalize vague language (“helped,” “worked on,” “responsible for”) and unquantified claims.\n- If the CL is generic or repeats the resume, say so and explain how to tailor it to the JD.\n\nTHE FIVE METRICS (score each 0–10)\n1) Role Fit & Requirements Match (weight 30%)\n   - Coverage of must-have qualifications, responsibilities, domain/industry alignment, years/level.\n2) Skills & Keywords Coverage (weight 25%)\n   - Presence of exact tools/frameworks/methods named in the JD; density and placement in resume and CL; recency.\n3) Impact & Evidence Quality (weight 20%)\n   - Quantified outcomes, scope, complexity, concrete achievements (STAR); weak/verby phrasing penalized.\n4) ATS Compliance & Clarity (weight 15%)\n   - Parseability (single column, standard headings), contact info present, file-unsafe elements (tables, images, icons), clean formatting, consistent dates.\n5) Cover Letter Effectiveness (weight 10%)\n   - Tailoring to JD, value proposition, concise narrative, company motivation, concrete proof points tied to JD.\n\nSCORING ANCHORS (apply to each metric)\n- 0–2 Poor: Major gaps; critical must-haves missing; generic or unreadable.\n- 3–4 Weak: Several must-haves missing; weak evidence; many formatting issues.\n- 5–6 Fair: Some match; uneven keywords; limited impact proof; CL under-tailored.\n- 7–8 Strong: Most requirements matched; good keyword coverage; clear impact; minor issues.\n- 9–10 Exceptional: Fully matched with strong, recent, quantified evidence; tailored CL; ATS-perfect.\n\nOUTPUT FORMAT (JSON only; no extra prose)\n{\n  \"summary\": \"Brief overview of fit and biggest blockers.\",\n  \"overall\": {\n    \"weighted_score\": 0,\n    \"weights\": {\n      \"role_fit\": 0.30,\n      \"skills_keywords\": 0.25,\n      \"impact_evidence\": 0.20,\n      \"ats_compliance\": 0.15,\n      \"cover_letter\": 0.10\n    },\n    \"rationale\": \"One-liner explaining the overall score.\"\n  },\n  \"scores\": {\n    \"role_fit\": {\n      \"score\": 0,\n      \"evidence_found\": [\"Quoted line from resume/CL\", \"Quoted line from JD\"],\n      \"gaps\": [\"Missing must-have X\", \"No domain experience Y\"],\n      \"fixes\": [\"Add project showing X with metrics\", \"Clarify years doing Y\"]\n    },\n    \"skills_keywords\": {\n      \"score\": 0,\n      \"present\": [\"Exact term A\", \"Exact term B\"],\n      \"missing\": [\"Exact term C\", \"Exact term D\"],\n      \"fixes\": [\"Add C in Skills if true\", \"Name tool D in Project Z bullet\"]\n    },\n    \"impact_evidence\": {\n      \"score\": 0,\n      \"issues\": [\"Vague verbs\", \"No metrics\", \"Unclear scope\"],\n      \"example_rewrites\": [\n        \"Replace: \\\"Worked on reporting\\\" -> \\\"Built Power BI suite cutting refresh time 6h->45m (-87%)\\\"\"\n      ]\n    },\n    \"ats_compliance\": {\n      \"score\": 0,\n      \"problems\": [\"Two-column layout\", \"Icons in headers\", \"Missing dates\"],\n      \"fixes\": [\"Use single-column\", \"Standard section names\", \"Add MM/YYYY ranges\"]\n    },\n    \"cover_letter\": {\n      \"score\": 0,\n      \"critique\": [\"Generic opener\", \"Repeats resume\", \"No tie to company\"],\n      \"fixes\": [\"Open with JD-linked value\", \"Cite 2 quantified wins\", \"Keep ≤300 words\"]\n    }\n  },\n  \"missing_keywords\": {\n    \"must_have\": [\"Term from JD essential 1\", \"Term essential 2\"],\n    \"should_have\": [\"Important term 1\"],\n    \"nice_to_have\": [\"Optional term 1\"]\n  },\n  \"top_fixes\": [\n    {\n      \"area\": \"Resume → Experience\",\n      \"action\": \"Quantify outcomes for Project A\",\n      \"why\": \"JD requires measurable impact\",\n      \"example\": \"Automated pipeline reducing failures 28% QoQ\"\n    },\n    {\n      \"area\": \"Resume → Skills\",\n      \"action\": \"List exact JD tools actually used\",\n      \"why\": \"Improves ATS matching\",\n      \"example\": \"Skills: Snowflake, dbt, Power BI, Celonis, Python\"\n    },\n    {\n      \"area\": \"Cover Letter\",\n      \"action\": \"Tie achievements to JD responsibilities\",\n      \"why\": \"Signals tailoring\",\n      \"example\": \"Shipped prompt-eval harness raising success 62%→79%\"\n    }\n  ],\n  \"keyword_occurrences\": [\n    {\n      \"term\": \"Power BI\",\n      \"in_resume\": 2,\n      \"in_cover_letter\": 0,\n      \"in_job_description\": 5\n    }\n  ],\n  \"risk_flags\": [\"Employment gaps\", \"Tech mismatch (Tableau vs Power BI)\", \"Language mismatch\"],\n  \"source\": {\n    \"job_description_id\": \"jd_123\",\n    \"resume_id\": \"cv_456\",\n    \"cover_letter_id\": \"cl_789\"\n  }\n}\n\n\nEVALUATION PROCEDURE\n1) From the JD, list must-have qualifications, responsibilities, and named tools. Separate MUST vs NICE-TO-HAVE.\n2) Scan resume/CL for exact matches; then close synonyms/stems (be conservative). Count occurrences and note recency (latest roles first).\n3) Identify missing or weakly evidenced items. Penalize vague bullets and unquantified claims.\n4) Check ATS basics: single-column, standard section headings, contact info, consistent date formats, no images/icons/text boxes.\n5) Assess CL tailoring: opening hook tied to role/company, concrete evidence mapped to JD, concise close with call to action.\n6) Assign each metric 0–10 using anchors; compute weighted overall score. Provide pointed, high-impact fixes and example rewrites **only using existing facts** (if data is missing, instruct what to add—not fabricate).\n\nCONSTRAINTS\n- JSON output only, exactly as specified.\n- Quote just enough text to justify (≤25 words per quote).\n- If cover_letter_text is missing, still score the CL metric but explain the penalty.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        144,
        0
      ],
      "id": "a1c5eff0-d77b-4cbb-83e6-8335a9dbe259",
      "name": "AI Agent",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct-0905",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        224
      ],
      "id": "31adad02-2a5a-4ffe-8e92-93de42651671",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"Brief overview of fit and biggest blockers.\",\n  \"overall\": {\n    \"weighted_score\": 0,\n    \"weights\": {\n      \"role_fit\": 0.30,\n      \"skills_keywords\": 0.25,\n      \"impact_evidence\": 0.20,\n      \"ats_compliance\": 0.15,\n      \"cover_letter\": 0.10\n    },\n    \"rationale\": \"One-liner explaining the overall score.\"\n  },\n  \"scores\": {\n    \"role_fit\": {\n      \"score\": 0,\n      \"evidence_found\": [\"Quoted line from resume/CL\", \"Quoted line from JD\"],\n      \"gaps\": [\"Missing must-have X\", \"No domain experience Y\"],\n      \"fixes\": [\"Add project showing X with metrics\", \"Clarify years doing Y\"]\n    },\n    \"skills_keywords\": {\n      \"score\": 0,\n      \"present\": [\"Exact term A\", \"Exact term B\"],\n      \"missing\": [\"Exact term C\", \"Exact term D\"],\n      \"fixes\": [\"Add C in Skills if true\", \"Name tool D in Project Z bullet\"]\n    },\n    \"impact_evidence\": {\n      \"score\": 0,\n      \"issues\": [\"Vague verbs\", \"No metrics\", \"Unclear scope\"],\n      \"example_rewrites\": [\n        \"Replace: \\\"Worked on reporting\\\" -> \\\"Built Power BI suite cutting refresh time 6h->45m (-87%)\\\"\"\n      ]\n    },\n    \"ats_compliance\": {\n      \"score\": 0,\n      \"problems\": [\"Two-column layout\", \"Icons in headers\", \"Missing dates\"],\n      \"fixes\": [\"Use single-column\", \"Standard section names\", \"Add MM/YYYY ranges\"]\n    },\n    \"cover_letter\": {\n      \"score\": 0,\n      \"critique\": [\"Generic opener\", \"Repeats resume\", \"No tie to company\"],\n      \"fixes\": [\"Open with JD-linked value\", \"Cite 2 quantified wins\", \"Keep ≤300 words\"]\n    }\n  },\n  \"missing_keywords\": {\n    \"must_have\": [\"Term from JD essential 1\", \"Term essential 2\"],\n    \"should_have\": [\"Important term 1\"],\n    \"nice_to_have\": [\"Optional term 1\"]\n  },\n  \"top_fixes\": [\n    {\n      \"area\": \"Resume → Experience\",\n      \"action\": \"Quantify outcomes for Project A\",\n      \"why\": \"JD requires measurable impact\",\n      \"example\": \"Automated pipeline reducing failures 28% QoQ\"\n    },\n    {\n      \"area\": \"Resume → Skills\",\n      \"action\": \"List exact JD tools actually used\",\n      \"why\": \"Improves ATS matching\",\n      \"example\": \"Skills: Snowflake, dbt, Power BI, Celonis, Python\"\n    },\n    {\n      \"area\": \"Cover Letter\",\n      \"action\": \"Tie achievements to JD responsibilities\",\n      \"why\": \"Signals tailoring\",\n      \"example\": \"Shipped prompt-eval harness raising success 62%→79%\"\n    }\n  ],\n  \"keyword_occurrences\": [\n    {\n      \"term\": \"Power BI\",\n      \"in_resume\": 2,\n      \"in_cover_letter\": 0,\n      \"in_job_description\": 5\n    }\n  ],\n  \"risk_flags\": [\"Employment gaps\", \"Tech mismatch (Tableau vs Power BI)\", \"Language mismatch\"],\n  \"source\": {\n    \"job_description_id\": \"jd_123\",\n    \"resume_id\": \"cv_456\",\n    \"cover_letter_id\": \"cl_789\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        224
      ],
      "id": "4de7d23c-6832-45f0-9cc2-85aa3847c889",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "9ab36a5b-d1a0-4965-a764-fd73d4c29a4d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evaluate-ats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a5f3dacb-e5d5-4af8-8f86-5b788cfb9f34",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        0
      ],
      "webhookId": "0f93e18c-1bd2-4b15-8401-841c4ab4ed83"
    }
  ],
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1b2931d7-8ca1-48ab-9a45-64eec904f9ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91619af48a111996d57e467ff2315ebcea6bea0614914ccbffc4272c1511d582"
  },
  "id": "pyGw8Xkfa9DkwfLI",
  "tags": []
}
