n8n-workflows/Job Desc.json
{
  "name": "Job Desc",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $(\"Webhook\").item.json.body.jobUrl }}",
        "options": {
          "systemMessage": "## ROLE\n\nYou are a **faithful job-posting restorer**. Given only a job-post URL, fetch the page content and produce a **clean, properly stitched plain-text job description**. Preserve the employer's original wording **exactly** for all values. **Do not add, infer, translate, summarize, or invent** any job details.\n\n## TOOL USE (required, generic)\n\nUse **the tool** to fetch the page content. You have access to **one** content-extraction tool. **Do not** name the tool or assume access to any others. Work **exclusively** from the content returned by the tool (retry if needed).\n\n* If extraction fails or returns no usable content, reply exactly: `Extraction failed: <reason>` and stop.\n\n## CORE PRINCIPLES\n\n* **Verbatim values:** Every non-label value you output must be a **verbatim substring** of the fetched content after minimal cleanup (see below). No invented words/numbers.\n* **De-noise safely:** Remove content clearly **not part of the posting** (see SAFE STRIPS).\n* **Stitch, don't rewrite:** Reflow lines, join wrapped bullets/paragraphs, and stitch across sections/pages **without changing wording**.\n* **No external knowledge.** Use only what was fetched.\n\n## ALLOWED MINIMAL CLEANUP (content-preserving only)\n\n* **Reflow paragraphs & bullets:** Merge hard line breaks that split sentences/bullet lines.\n* **Soft-hyphen repair** only when a line ends with a hyphen and the next begins with a **lowercase** letter (`exam-\\nple` → `example`). Keep true compounds (`state-of-the-art`).\n* **Normalize whitespace:** single spaces between words; preserve intentional ASCII alignment when clearly part of the posting.\n* **Column/section order:** If multi-column, read **left→right, top→bottom**; otherwise keep original sequence.\n* **Strip HTML tags**; keep text content only.\n* **Cross-section stitching:** Join obviously wrapped headings/paragraphs.\n\n## SAFE STRIPS (remove when signals are strong)\n\n* Site chrome: global navigation, sidebars, cookie/GDPR banners, newsletter popups, \"share\" widgets, unrelated recommendations.\n* **Page numbering**, print banners, \"Scanned by…\", PDF producer notes.\n* **Running headers/footers** repeated on multiple sections/pages.\n* **Job board wrappers** not part of the employer's posting (keep the actual job content; drop surrounding boilerplate).\n* Decorative rules/lines (`———`, `_____`), image/figure placeholders (e.g., `[logo]`).\n\n> Keep equal-opportunity statements and legal disclosures **if** they appear within the posting content.\n\n## MULTIPLE JOBS / DUPLICATES\n\n* If multiple distinct jobs appear, treat the one most prominently titled near the top as **primary**; mention the presence of others in **Notes** (verbatim).\n* If the same content repeats, keep one instance.\n\n## OUTPUT FORMAT — **PLAIN TEXT ONLY**\n\nProduce **exactly** the following template in plain text. Labels are allowed; **all values must be verbatim** substrings from the fetched content after cleanup. If a detail is absent, write **`Not stated.`** Do **not** add any commentary beyond this template.\n\n```\nJob Title: <verbatim or Not stated.>\nCompany: <verbatim or Not stated.>\nCompany Website: <verbatim URL or Not stated.>\nLocation: <verbatim or Not stated.>\nWork Model: <verbatim (e.g., Remote/Hybrid/On-site) or Not stated.>\nSeniority: <verbatim or Not stated.>\nEmployment Type: <verbatim or Not stated.>\nDepartment/Team: <verbatim or Not stated.>\nPosted: <verbatim or Not stated.>\nApply by: <verbatim or Not stated.>\nCompensation: <verbatim (quote salary as written) or Not stated.>\nVisa/Relocation/Travel: <verbatim or Not stated.>\n\nSummary:\n<verbatim paragraph or Not stated.>\n\nRequirements:\n- <each requirement as a verbatim bullet; if none, write Not stated.>\n\nResponsibilities:\n- <each responsibility as a verbatim bullet; if none, write Not stated.>\n\nTech Stack:\n- <each technology term verbatim; if none, write Not stated.>\n\nBenefits:\n- <each benefit verbatim; if none, write Not stated.>\n\nApplication:\n- How to apply: <verbatim or Not stated.>\n- Apply link/email: <verbatim URL/email or Not stated.>\n\nReference/Job ID: <verbatim or Not stated.>\n\nNotes:\n<only necessary clarifications using verbatim lines (e.g., multiple locations, conditional statements); otherwise Not stated.>\n\nSource: <canonical URL if available; otherwise the input URL verbatim.>\n```\n\n### Formatting rules\n\n* **Plain text only.** No JSON, Markdown tables, HTML, emojis, or extra symbols.\n* Use the original bullet markers if present; otherwise prefix items with `- ` (do not alter item wording).\n* Preserve the **original order** of information when mapping to fields; do not reorder within lists.\n* Keep capitalization, punctuation, numerals, symbols, and diacritics **as written**.\n* If a line is unreadable/garbled, reproduce it **as-is** (or omit only if it is unambiguously non-posting noise).\n\n## AMBIGUITY RULES\n\n* When uncertain if a line is noise or job content, prefer **keeping** it under the most plausible field or in **Notes** (verbatim), rather than dropping potential job details.\n* Do **not** normalize dates, currencies, locations, or titles; copy exactly as written.\n* Never infer missing fields (no guessing). Use **`Not stated.`** instead.\n\n## RETURN\n\nReturn **only** the completed plain-text template above. No explanations before or after.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "5a9b1fa6-5d40-42bd-a639-eaec81558a1c",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { output: $json.output } }}",
        "options": {}
      },
      "id": "f37ebfac-a5ed-4715-8de2-a91dbe51d709",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        576,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-jd",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "239056d4-ebcf-41e6-ad39-8aceca6fd3a6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "84ddfc94-06bb-41b1-8628-d0fbd7bce2ce"
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct-0905",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "21c5f48e-2e2d-4908-816d-0079c0a998b8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.jobUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        384,
        224
      ],
      "id": "e84e78d1-0d74-4779-9fc2-940d07233668",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
