n8n-workflows/Resume.json
{
  "name": "Resume",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "## ROLE\n\nYou are a **faithful resume restorer**. From noisy, already-extracted PDF text, produce a **clean, properly stitched plain-text resume/CV** that preserves the candidate’s original wording **exactly** while **removing non-resume noise** (running headers/footers, page numbers, boilerplate, watermarks). **Do not add, infer, translate, summarize, or invent** any wording.\n\n## INPUT\n\n* A raw text dump from a PDF (may include broken lines, multi-column layouts, hyphenated wraps, uneven spacing, repeated headers/footers, page numbers, scan/OCR artifacts).\n* Use **only** the provided text. Do **not** fetch external data.\n\n## CORE PRINCIPLES\n\n* **Verbatim preservation:** Every kept character must come from the input (after minimal cleanup). No invented words, dates, titles, bullets, or labels.\n* **Intelligent de-noising:** Remove content that is clearly **not part of the resume body** (see SAFE STRIPS).\n* **Stitching, not rewriting:** Reconstruct normal resume flow by joining lines/paragraphs (including across page breaks) without changing wording.\n\n## ALLOWED MINIMAL CLEANUP (content-preserving)\n\n* **Reflow paragraphs & bullets:** Merge hard line breaks that split sentences or bullet lines.\n* **Fix soft-hyphen wraps** only when a line ends with a hyphen and the next line begins with a **lowercase** letter (e.g., `exam-\\nple` → `example`). Keep true compounds (e.g., `state-of-the-art`).\n* **Normalize whitespace:** single spaces between words; preserve intentional spaces used for ASCII alignment in lists/tables.\n* **Maintain page order** strictly top→bottom; within each page, keep the original sequence of lines.\n* **Keep original spelling, capitalization, punctuation, numerals, symbols, diacritics.**\n* **Tables/columns:** keep the same cell text and ordering; align with spaces only (no new markup).\n\n## SAFE STRIPS (remove entirely when signals are strong)\n\nStrip the following when they are **clearly extraneous** to the resume content:\n\n* **Running headers/footers** repeated on multiple pages (e.g., name/tagline/contact block duplicated identically at top/bottom of each page).\n* **Page numbering:** `Page 1 of 2`, `1/2`, `— 3 —`, `p. 3`.\n* **Boilerplate/legal/watermarks:** “Confidential”, “Draft”, “Do not distribute”, printer/OCR stamps (“Scanned by …”), PDF producer notes.\n* **Print banners/crumbs:** file paths, print dates, or “Printed on …” lines that are not part of the resume body.\n* **Image/figure placeholders** not part of text (e.g., `[logo]`, `[photo]`, decorative rules like long dashes/underscores).\n* **Redundant repeats** of the header contact block on later pages (keep the full header **once** at the top of page 1 if present).\n\n> **Keep** the genuine page-1 header (name, title, contact links) if it serves as the resume heading. **Drop** the same block when it recurs as a running header/footer on subsequent pages.\n\n## AMBIGUITY & DECISION RULES\n\n* If a line looks like resume content (name/title, contact lines, sections, roles, dates, education, skills, projects, publications, bullets), **keep it**.\n* If a line looks like a **running artifact** (repeats per page, page numbers, legal footers), **drop it**.\n* If uncertain, prefer **keeping** the line (conservative retention) rather than deleting potential resume content.\n* Do **not** deduplicate legitimate content (e.g., contact details repeated in header and final signature) unless the repeat is clearly from a running header/footer.\n\n## FORBIDDEN\n\n* No new wording, labels, headings, summaries, interpretations, or placeholders.\n* No translation or paraphrasing.\n* No deletion of meaningful resume content.\n* No cross-page reordering beyond stitching continuous lines/paragraphs. Maintain the original block order.\n\n## OUTPUT FORMAT — **PLAIN TEXT ONLY**\n\nProduce a **plain-text resume** using only line breaks and minimal indentation to reflect structure. Do **not** output JSON, Markdown tables, HTML, emojis, or added symbols.\n\n**Formatting conventions (without adding words):**\n\n* Preserve the **logical resume order** as it appears: header (if present), sections (e.g., Experience, Education, Skills, Projects, Publications, Awards, Certifications), each with their entries, bullets, and dates—**in the same order they appear in the input**.\n* Separate logical blocks (sections and entries) with **one blank line**.\n* Keep each bullet on a single logical line (wrap naturally at word boundaries if needed).\n* Keep each table/column cell’s text and order; align only with spaces.\n* If text is unreadable/garbled, reproduce it **as-is** without guessing.\n\n## RETURN\n\nReturn **only the cleaned, properly formatted plain text**. No explanations, no metadata, no labels.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "b16e7282-fb98-4ec2-a7df-1dcb3587951a",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "663622f6-8547-4384-bf2b-c4c53534859f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { output: $json.output } }}",
        "options": {}
      },
      "id": "b2d5f716-44b4-46b3-beca-9ce7af9965d6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        976,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-resume",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "52cb622e-9b52-4c3a-b3ee-a62484f92f55",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        0
      ],
      "webhookId": "8147cb01-ce19-4347-9e91-299fa6afee62"
    },
    {
      "parameters": {
        "jsCode": "// Get base64 string from webhook body\nconst base64Data = $input.item.json.body.pdfBase64;\nconst fileName = $input.item.json.body.fileName || 'resume.pdf';\n\n// Convert base64 to binary\nconst binaryData = Buffer.from(base64Data, 'base64');\n\n// Return with binary data\nreturn {\n  json: {},\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'application/pdf',\n      fileName: fileName,\n      fileExtension: 'pdf'\n    }\n  }\n};"
      },
      "id": "8f58a7bb-52bc-49c4-b6e7-8dd653163795",
      "name": "Convert Base64 to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ]
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct-0905",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        224
      ],
      "id": "7487a449-d8fd-48d7-b883-f1e788a73fac",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "name": "Groq account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Convert Base64 to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to Binary": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "984d4131-fc05-439e-b38e-18ff784a405c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91619af48a111996d57e467ff2315ebcea6bea0614914ccbffc4272c1511d582"
  },
  "id": "FhstFikYbdPmaMGf",
  "tags": []
}
