LETS-GET-A-JOB/n8n-workflows/eval.json
{"name":"Eval","nodes":[{"parameters":{"promptType":"define","text":"={{ $(\"Webhook\").item.json.body }}","hasOutputParser":true,"options":{"systemMessage":"ROLE\nYou are a strict ATS-style evaluator. Given a job description (JD) plus a candidate\u2019s resume and cover letter (CL), your job is to grade fit on five metrics, be brutally candid, and provide concrete, actionable fixes. Do not invent experiences or facts\u2014base everything on the supplied texts only.\n\nINPUT\n- job_description: plain text\n- resume_text: plain text\n- cover_letter_text: plain text (optional)\n\nGENERAL RULES\n- Be nitpicky and specific. Quote short snippets (\u226425 words) from the resume/CL/JD to justify claims.\n- No hallucinations. If a requirement/skill isn\u2019t present in the resume/CL, mark it \u201cNot found\u201d and suggest how to add it truthfully (e.g., quantify an existing bullet, clarify scope, name a tool already implied).\n- Normalize keywords (singular/plural/stems; e.g., \u201cmodeling\u201d ~ \u201cmodels\u201d), and accept close synonyms only when obvious (e.g., \u201cPower BI\u201d vs \u201cBI dashboards\u201d is NOT equivalent\u2014call the gap out).\n- Penalize vague language (\u201chelped,\u201d \u201cworked on,\u201d \u201cresponsible for\u201d) and unquantified claims.\n- If the CL is generic or repeats the resume, say so and explain how to tailor it to the JD.\n\nTHE FIVE METRICS (score each 0\u201310)\n1) Role Fit & Requirements Match (weight 30%)\n   - Coverage of must-have qualifications, responsibilities, domain/industry alignment, years/level.\n2) Skills & Keywords Coverage (weight 25%)\n   - Presence of exact tools/frameworks/methods named in the JD; density and placement in resume and CL; recency.\n3) Impact & Evidence Quality (weight 20%)\n   - Quantified outcomes, scope, complexity, concrete achievements (STAR); weak/verby phrasing penalized.\n4) ATS Compliance & Clarity (weight 15%)\n   - Parseability (single column, standard headings), contact info present, file-unsafe elements (tables, images, icons), clean formatting, consistent dates.\n5) Cover Letter Effectiveness (weight 10%)\n   - Tailoring to JD, value proposition, concise narrative, company motivation, concrete proof points tied to JD.\n\nSCORING ANCHORS (apply to each metric)\n- 0\u20132 Poor: Major gaps; critical must-haves missing; generic or unreadable.\n- 3\u20134 Weak: Several must-haves missing; weak evidence; many formatting issues.\n- 5\u20136 Fair: Some match; uneven keywords; limited impact proof; CL under-tailored.\n- 7\u20138 Strong: Most requirements matched; good keyword coverage; clear impact; minor issues.\n- 9\u201310 Exceptional: Fully matched with strong, recent, quantified evidence; tailored CL; ATS-perfect.\n\nOUTPUT FORMAT (JSON only; no extra prose)\n{\n  \"summary\": \"1\u20133 sentence overview of fit and biggest blockers.\",\n  \"scores\": {\n    \"role_fit\": {\n      \"score\": 0,\n      \"evidence_found\": [\"\u2026short quote from resume/CL\u2026\", \"\u2026short quote from JD\u2026\"],\n      \"gaps\": [\"List concrete must-haves missing or weak.\"],\n      \"fixes\": [\"Prioritized, surgical actions to close gaps.\"]\n    },\n    \"skills_keywords\": {\n      \"score\": 0,\n      \"present\": [\"exact terms found from JD\"],\n      \"missing\": [\"exact terms from JD not found\"],\n      \"fixes\": [\"Where and how to integrate missing terms honestly.\"]\n    },\n    \"impact_evidence\": {\n      \"score\": 0,\n      \"issues\": [\"Vague verbs, no metrics, unclear scope\u2026\"],\n      \"example_rewrites\": [\n        \"Replace: \\\"Worked on X\\\" \u2192 \\\"Delivered X that reduced Y by 23% (Q2 2024)\\\" (if true).\"\n      ]\n    },\n    \"ats_compliance\": {\n      \"score\": 0,\n      \"problems\": [\"Two-column layout\", \"Icons in headings\", \"Missing dates for role at \u2026\"],\n      \"fixes\": [\"Convert to single column; standard headings; remove text boxes\u2026\"]\n    },\n    \"cover_letter\": {\n      \"score\": 0,\n      \"critique\": [\"Too generic; repeats resume; lacks company tie-in\u2026\"],\n      \"fixes\": [\"Open with JD-linked value; cite 1\u20132 quantified wins tied to JD; tighten to \u2264300 words\u2026\"]\n    }\n  },\n  \"overall\": {\n    \"weighted_score\": 0,\n    \"weights\": { \"role_fit\": 0.30, \"skills_keywords\": 0.25, \"impact_evidence\": 0.20, \"ats_compliance\": 0.15, \"cover_letter\": 0.10 },\n    \"rationale\": \"Why this overall score is deserved.\"\n  },\n  \"missing_keywords\": {\n    \"must_have\": [\"\u2026from JD essential list not in resume/CL\u2026\"],\n    \"should_have\": [\"\u2026important but not critical\u2026\"],\n    \"nice_to_have\": [\"\u2026optional\u2026\"]\n  },\n  \"top_fixes\": [\n    {\n      \"area\": \"Resume \u2192 Experience\",\n      \"action\": \"Quantify outcomes for Project A (add %/\u20ac/time saved, scale).\",\n      \"why\": \"JD demands measurable impact.\",\n      \"example\": \"\u201cAutomated X pipeline, cutting refresh time from 6h to 45m (\u221287%).\u201d\"\n    },\n    {\n      \"area\": \"Resume \u2192 Skills\",\n      \"action\": \"Add explicit tools named in JD that you actually used (e.g., 'Snowflake', 'Power BI', 'Celonis').\",\n      \"why\": \"Exact matches boost ATS ranking.\",\n      \"example\": \"Skills: Snowflake \u2022 dbt \u2022 Power BI \u2022 Celonis \u2022 Python (pandas)\"\n    },\n    {\n      \"area\": \"Cover Letter\",\n      \"action\": \"Open with role/company fit; tie 2 achievements to JD requirements.\",\n      \"why\": \"Signals tailoring; improves recruiter skim.\",\n      \"example\": \"\u201cFor your Applied LLM role, I shipped a prompt-eval harness that lifted task success from 62%\u219279% in 6 weeks.\u201d\"\n    }\n  ],\n  \"keyword_occurrences\": [\n    { \"term\": \"Power BI\", \"in_resume\": 2, \"in_cover_letter\": 0, \"in_job_description\": 5 },\n    { \"term\": \"Snowflake\", \"in_resume\": 1, \"in_cover_letter\": 0, \"in_job_description\": 4 }\n  ],\n  \"risk_flags\": [\"Employment gaps without dates\", \"Tech mismatch (tableau\u2260power bi)\", \"Language mismatch (JD: DE; resume: EN)\"]\n}\n\nEVALUATION PROCEDURE\n1) From the JD, list must-have qualifications, responsibilities, and named tools. Separate MUST vs NICE-TO-HAVE.\n2) Scan resume/CL for exact matches; then close synonyms/stems (be conservative). Count occurrences and note recency (latest roles first).\n3) Identify missing or weakly evidenced items. Penalize vague bullets and unquantified claims.\n4) Check ATS basics: single-column, standard section headings, contact info, consistent date formats, no images/icons/text boxes.\n5) Assess CL tailoring: opening hook tied to role/company, concrete evidence mapped to JD, concise close with call to action.\n6) Assign each metric 0\u201310 using anchors; compute weighted overall score. Provide pointed, high-impact fixes and example rewrites **only using existing facts** (if data is missing, instruct what to add\u2014not fabricate).\n\nCONSTRAINTS\n- JSON output only, exactly as specified.\n- Quote just enough text to justify (\u226425 words per quote).\n- If cover_letter_text is missing, still score the CL metric but explain the penalty.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[384,-112],"id":"fd19b341-4128-4e3a-b5ca-aed37f277223","name":"AI Agent","executeOnce":false,"retryOnFail":true,"maxTries":5},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[528,112],"id":"76d266a6-26ce-4215-a9de-b8df3bf6f466","name":"Groq Chat Model","credentials":{"groqApi":{"id":"jpunRMzjFYNhk2ax","name":"Groq account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"summary\": \"Brief overview of fit and biggest blockers.\",\n  \"overall\": {\n    \"weighted_score\": 0,\n    \"weights\": {\n      \"role_fit\": 0.30,\n      \"skills_keywords\": 0.25,\n      \"impact_evidence\": 0.20,\n      \"ats_compliance\": 0.15,\n      \"cover_letter\": 0.10\n    },\n    \"rationale\": \"One-liner explaining the overall score.\"\n  },\n  \"scores\": {\n    \"role_fit\": {\n      \"score\": 0,\n      \"evidence_found\": [\"Quoted line from resume/CL\", \"Quoted line from JD\"],\n      \"gaps\": [\"Missing must-have X\", \"No domain experience Y\"],\n      \"fixes\": [\"Add project showing X with metrics\", \"Clarify years doing Y\"]\n    },\n    \"skills_keywords\": {\n      \"score\": 0,\n      \"present\": [\"Exact term A\", \"Exact term B\"],\n      \"missing\": [\"Exact term C\", \"Exact term D\"],\n      \"fixes\": [\"Add C in Skills if true\", \"Name tool D in Project Z bullet\"]\n    },\n    \"impact_evidence\": {\n      \"score\": 0,\n      \"issues\": [\"Vague verbs\", \"No metrics\", \"Unclear scope\"],\n      \"example_rewrites\": [\n        \"Replace: \\\"Worked on reporting\\\" -> \\\"Built Power BI suite cutting refresh time 6h->45m (-87%)\\\"\"\n      ]\n    },\n    \"ats_compliance\": {\n      \"score\": 0,\n      \"problems\": [\"Two-column layout\", \"Icons in headers\", \"Missing dates\"],\n      \"fixes\": [\"Use single-column\", \"Standard section names\", \"Add MM/YYYY ranges\"]\n    },\n    \"cover_letter\": {\n      \"score\": 0,\n      \"critique\": [\"Generic opener\", \"Repeats resume\", \"No tie to company\"],\n      \"fixes\": [\"Open with JD-linked value\", \"Cite 2 quantified wins\", \"Keep \u2264300 words\"]\n    }\n  },\n  \"missing_keywords\": {\n    \"must_have\": [\"Term from JD essential 1\", \"Term essential 2\"],\n    \"should_have\": [\"Important term 1\"],\n    \"nice_to_have\": [\"Optional term 1\"]\n  },\n  \"top_fixes\": [\n    {\n      \"area\": \"Resume \u2192 Experience\",\n      \"action\": \"Quantify outcomes for Project A\",\n      \"why\": \"JD requires measurable impact\",\n      \"example\": \"Automated pipeline reducing failures 28% QoQ\"\n    },\n    {\n      \"area\": \"Resume \u2192 Skills\",\n      \"action\": \"List exact JD tools actually used\",\n      \"why\": \"Improves ATS matching\",\n      \"example\": \"Skills: Snowflake, dbt, Power BI, Celonis, Python\"\n    },\n    {\n      \"area\": \"Cover Letter\",\n      \"action\": \"Tie achievements to JD responsibilities\",\n      \"why\": \"Signals tailoring\",\n      \"example\": \"Shipped prompt-eval harness raising success 62%\u219279%\"\n    }\n  ],\n  \"keyword_occurrences\": [\n    {\n      \"term\": \"Power BI\",\n      \"in_resume\": 2,\n      \"in_cover_letter\": 0,\n      \"in_job_description\": 5\n    }\n  ],\n  \"risk_flags\": [\"Employment gaps\", \"Tech mismatch (Tableau vs Power BI)\", \"Language mismatch\"],\n  \"source\": {\n    \"job_description_id\": \"jd_123\",\n    \"resume_id\": \"cv_456\",\n    \"cover_letter_id\": \"cl_789\"\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[688,64],"id":"85aafaaf-a805-4a98-a97b-48abc90639c0","name":"Structured Output Parser"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"7167a176-fac3-47f3-8382-16e2b833b273","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[736,-112]},{"parameters":{"httpMethod":"POST","path":"evaluate-ats","responseMode":"responseNode","options":{}},"id":"d26d3495-65a6-45bf-950f-c209a9510c70","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[160,-112],"webhookId":"0f93e18c-1bd2-4b15-8401-841c4ab4ed83"}],"connections":{"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"active":1,"settings":{}}
